body {
     background: rgb(181, 181, 248);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background: rgb(233, 202, 233);
    display: flex;
    align-items: center;
}

.icono{
    width: 95px;
}

.contenido{
    display: flex;
   
}

h1{
    margin-left: 10px;
    flex: 1;
    text-align: center;
    font-family: cursive;
    color: rgb(71, 2, 71);
    font-size: 13mm;
}
main{
    background: rgb(181, 181, 248);
    flex: 1;
}
h2{
    color:  rgb(71, 2, 71);
    font-family: cursive;
    font-size: 2em;
    margin: 1em 0 .5em 1em;
}

.spa{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagen_main{
    width: 20%;
    text-align: center;
    display: block; margin-left: auto; margin-right: auto;
}


footer{
    background: rgb(255, 170, 209);
    padding: 1em;
    text-align: center ;
}